@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    font-family:'Dosis', sans-serif;
}

.section {
    width: 100%;
    margin:0 auto;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

section .imagenes:hover{
    width: 10%;
    height: 10%;
    opacity: 1;
    filter:contrast(120%);

}

@media screen and (max-width: 768px){
    section{
        flex-wrap: wrap;
    }
    section .imagenes{
        height: 80%;
    }
    section .imagenes:hover{
        width: 70%;
        
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 10px;
}

.logoNav {
    overflow: hidden;
}

.imagenes {
    width: 0px;
    height: 100%;
    flex-grow: 1;
    object-fit: cover;
}

.listaNavegacion {
    list-style: none;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 30%;
    float:right;
    margin-right: 100px;
    margin-top: 5px;
    
}

.logoHeader {
    float:left;
}


.linkNav {
    text-decoration: none;
    color: aliceblue;
    font-size: 17px;
    background-color: rgb(39, 38, 38);
    display: inline-block;
    width: 110px;
    position:fixed;
    justify-content: center;
}

a:hover {
    font-weight: bold;
    padding: 10px;
    background-color: rgb(11, 10, 10);
    color: aliceblue;
}

a:visited {
    color: rgb(101, 103, 104);
}

body {
    background-color: #0c0c0c;
}

.colorFondoPrincipal {
    background-color: rgba(0, 0, 0, 0.499);
    margin-bottom: 10px;
    padding: 10px;
    position: sticky;
    top:0px;
    z-index: 10;
}

.sectionPrincipalIndex {
    background-color:rgba(4, 4, 4, 0.9);
    text-shadow: 5px 1px 1px rgba(180,172,172,0.05);
    margin-top: 25px;
    margin-bottom: 25px;
}

.primertitulo {
    font-size: 25px;
    color:rgb(118, 7, 7);
}

.tituloPrincipal {
    font-style: bold;
    font-size: 55px;
    color:rgb(138, 9, 9)
}

.primerparrafo {
    font-size: 30px;
    color:rgb(118, 7, 7)
}

header {
    background-color:rgb(46, 44, 44);
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.textoCentrado {
    text-align: center;
}

.formularioIndex {
    background-color: rgba(22, 4, 4, 0.518);
    font-size: 20px;
    text-align: center;
    color:aliceblue;
    bottom: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}
/*color rojo del formulario rgba(195, 61, 59, 0.9); y tercera sección rgba(49, 23, 23, 0.9) y segunda sección rgba(22, 4, 4, 0.518);*/


section.seccionSegunda:hover {
    background-color:rgba(49, 23, 23, 0.9);
}

section.seccionTercera:hover {
    background-color:rgba(49, 23, 23, 0.9);
}

section.formularioIndex:hover {
    background-color:rgba(49, 23, 23, 0.9);
}

section.seccionComic:hover {
    background-color:rgba(49, 23, 23, 0.9);
}

.imagenFondo {
    background-image: url(../assets/img/imagen\ fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.imagenFondoVideojuegos {
    background-image: url(../assets/img/fondo\ juegos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.imagenFondoSeries {
    background-image: url(../assets/img/fondo\ series.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.imagenFondoNoticias {
    background-image: url(../assets/img/fondo\ noticias.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.seccionSegunda {
    color:aliceblue;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: rgba(22, 4, 4, 0.518);
    text-shadow: -5px -1px 1px rgba(180,172,172,0.05);
    margin-bottom: 30px;
    align-items: center;
    
    
}

.seccionSegundaMemes {
    justify-content: center;
    text-align: center;
    
}

.contenedorCardsMemes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
}

.meme {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

/*    display: flex;
    flex-direction: column;
    width: 10%;
    height: 10%;
    margin-left: 10%;*/

.seccionTercera{
    color:aliceblue;
    font-size: 20px;
    background-color:rgba(22, 4, 4, 0.518);
    text-shadow: -5px -1px 1px rgba(180,172,172,0.05);
    display: flex;
    flex-wrap: wrap;
    justify-content:center;

}

.contenedorCardsMap {
    width: 100%;
    display:flex;
    justify-content: space-between;
    gap: 1rem;

}

.textoCentrado1 {
    text-align: center;

}

.cardMap {
    display: flex;
    flex-direction: column;
    width: calc(50% - 0.5rem);
    height: auto;
    justify-content: space-between;
    align-items: center;

}


.card img{
    width: 70%;
    height: 70%;
    object-fit: cover;
    background-color: #fff;
    margin-right: 200px;

    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    justify-content: space-between;
    flex-direction: column;

}

.colorFooter {
    background-color: rgba(22, 4, 4, 0.518);
    text-align: right;
    color: aliceblue;
    font-size: 15px;
    border: inset 3px grey;
    margin-top: 5px;
    position: sticky;
    bottom:0px;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;

}

.derechosReservados {
    margin-left: 70px;
}

.contenedoresRedes {
    display: flex;
    justify-content: space-evenly;
}

.contenedoresRedes a{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-decoration: none;
    margin-right: 70px;
}

.imagenFondoComics {
    background-image: url(../assets/img/imagen\ fondo\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.seccionComic {
    color:aliceblue;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(22, 4, 4, 0.518);
    text-shadow: -5px -1px 1px rgba(180,172,172,0.05);
    margin-bottom: 30px;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.primerTituloComic{
    font-size: 30px;
    color:rgb(252, 251, 251);
    background-color: rgba(201, 151, 151, 0.441);
    justify-content: center;
}

.primerTituloComic,
.seccionComic p {
  margin: 35px;
}

/*pongo medias queries que adapten los componentes y estilados a la vista diferente
celular: 0 a 680x768px
tablet 769-1024px
escritorio notebook el resto 1025 a 1400px
1401px pc escritorio*/

@media screen and (max-width:768px) {
        .container {
          width: 100%;
          padding: 0;
        }
      
        .section {
          padding: 60px 0;
        }
      
        h1, h2, h3 {
          font-size: 28px;
        }
      
        p {
          font-size: 16px; 
          line-height: 1.5;
      }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}

@media screen and (min-width: 1025px) {
    
}
