.body {
    padding: 0;
    box-sizing: border-box;
    font-family: $tipografia-general;
    background-color: #0c0c0c;  
    .body_colorFondoPrincipal {
        background-color: rgba(0, 0, 0, 0.499);
        margin-bottom: 10px;
        padding: 10px;
        position: $position;
        top:0px;
        z-index: 10;
    }
    .body_imagenFondo {
        background-image: url(../assets/img/imagen\ fondo.jpg);
        background-repeat: map-get($map-background, background-repeat);
        background-size: map-get($map-background, background-size);
        background-position: map-get($map-background, background-position);
        background-attachment: map-get($map-background, background-attachment);
    }
    .body_imagenFondoComics {
        @extend .body_imagenFondo;
        background-image: url(../assets/img/imagen\ fondo\ 3.jpg);
    }
    .body_imagenFondoVideojuegos {
        @extend .body_imagenFondo;
        background-image: url(../assets/img/fondo\ juegos.jpg);
    }
    .body_imagenFondoSeries {
        @extend .body_imagenFondo;
        background-image: url(../assets/img/fondo\ series.jpg);
    }
    .body_imagenFondoNoticias {
        @extend .body_imagenFondo;
        background-image: url(../assets/img/fondo\ noticias.jpg);
    }
}



