.footer{
    .footer_colorFooter {
        background-color: map-get($map-colores, color-terciario);
        text-align: right;
        color: map-get($map-colores, color-primario);
        font-size: 15px;
        border: inset 3px grey;
        margin-top: 5px;
        position: $position;
        bottom:0px;
        z-index: 10;
        display: $display;
        justify-content: map-get($justifycontent, justify-content3);
        .footer_colorFooter_derechosReservados {
            margin-left: 70px;}
        .footer_colorFooter_.contenedoresRedes {
            display: $display;
            justify-content: map-get($justifycontent, justify-content3);}
        .footer_colorFooter_.contenedoresRedes a{
            @include color-front-margin(rgb(255, 255, 255),30px, none, 70px);}
    }
}